@font-face{
	font-family: MSMINCHO ;
	src: url('../fonts/MSMINCHO.ttf');
}

@page {
		font-family: MSMINCHO;
		size: A4;
		margin-left: 10mm;
		margin-top: 0mm;
		margin-bottom: 0mm;
		margin-right: 10mm;
	}
	table {
		width: 100%;
	}
	h1{
		text-align: center;
	}

	p{
		font-size: 20px;
	}
		
	.table-content{
		border: 1px solid #BCBCBC;
	}

	.table-content th{
		width: 90;
		text-align: center;
		border: 1px solid #BCBCBC;
		padding: 10px;
	}
	th {
		color: darkgray;
	}

	.table-content td{
    width: 90;
    height: 20;
		text-align: center;
		border: 1px solid #BCBCBC;
		padding: 10px;
		padding-bottom: 20px;
	}
	.table-content .quantity{
		text-align: right;
		padding-right: 15px;
	}
	.table-content .category{
		text-align: left;
		padding-left: 15px;
	}
	.foot-content tr{
		text-align: left;
		font-size: 15px;
	}
	.header {
		font-size: 18px;
	}
	.col-4{
		width: 33.33333%;
	}
	.col-8{
		width: 66.66666%;
	}
	.page-break{ 
		page-break-after: always; 
	}
	