.btn-info.active, .btn-info.active.focus {
	background-color: #fff;
	border-color: #ccc;
	color: #333;
}

.modal .table {
	margin-top: 24px;
	margin-bottom: 0px;
}

.btn-default.active, .btn-default.active.focus {
	color: #fff;
    background-color: #217dbb;
    border-color: #1e72aa;
}
